##实体类代码
package ${table.packageName}.model;

import java.io.Serializable;

import org.unique.support.orm.DB;
import org.unique.support.orm.Model;
import org.unique.support.orm.annotation.Table;

/**
 * ${table.className}对象
 * @author ${author}
 * @since 1.0
 */
@Table(value="${table.tableName}")
public class ${table.className} extends Model<${table.className}> implements Serializable {

	private static final long serialVersionUID = 1L;
	
	public static DB<${table.className}> db = new DB<${table.className}>();
	
#foreach( $tempColumn in $table.columnList)
#if(${tempColumn.columnComment.trim()} != '')
	//${tempColumn.columnComment.trim()}
#end
	private ${tempColumn.fieldType} ${tempColumn.columnName};
	
#end
	public ${table.className}(){}
	
#foreach( $tempColumn in $table.columnList )
#if(${tempColumn.fieldType}=="Date")
#end
	public ${tempColumn.fieldType} ${tempColumn.fieldGetMethod}() {
		return ${tempColumn.fieldName};
	}

	public void ${tempColumn.fieldSetMehtod}(${tempColumn.fieldType} $tempColumn.fieldName) {
		this.$tempColumn.fieldName = $tempColumn.fieldName;
	}
	
#end
}